fastapi
uvicorn[standard]
httpx
pydantic
google-cloud-bigquery
google-cloud-aiplatform
vertexai
python-dotenv
websockets
reportlab
google-api-python-client
google-auth
google-auth-httplib2
authlib
itsdangerous
starlette
python-multipart
pypdf
google-cloud-language
python-multipart
